#live-chate div {
    margin: 0;
    padding: 0;
    z-index: 1000;
}

#live-chate h1 {
    margin: 0;
    font-size: 16px;
    line-height: 1;
}

#live-chate > div {
    color: inherit;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#live-chate div.chatbox-open:active i, #live-chate div.chatbox-close:active i {
    color: #e9c20d;
}

div.chatbox-call {
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50% !important;
    width: 52px;
    height: 52px;
    color: #fff;
    background: #e9c20d no-repeat center center;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15) !important;
    border: 0;
    cursor: pointer;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

div.chatbox-call {
    right: 60px;
}

#live-chate div.chatbox-close {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 52px;
    height: 52px;
    color: #fff;
    background: #e9c20d no-repeat center center;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    visibility: hidden;
    margin: 16px calc(2 * 16px + 52px) 16px 16px;
}

#live-chate footer input {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    height: calc(16px + 16px / 2);
    padding: 0 calc(16px / 2);
    font-family: inherit;
    font-size: 16px;
    line-height: calc(16px + 16px / 2);
    color: #888;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    resize: none;
    overflow: hidden;
}

#live-chate footer input::-moz-placeholder {
    color: #888;
}

#live-chate footer input:-ms-input-placeholder {
    color: #888;
}

#live-chate footer input::placeholder {
    color: #888;
}

#live-chate .chatbox-popup {
    display: block;
    position: fixed;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    flex-direction: column;
    bottom: calc(2 * 16px + 52px);
    right: 16px;
    width: 450px;
    height: auto;
    background-color: #fff;
    border-radius: 16px;
    z-index: 1001;
}

#live-chate .chatbox-popup .chatbox-popup__header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    color: #fff;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    max-height: 450px !important;
}

#live-chate .chatbox-popup .chatbox-popup__header img {
    margin-top: -45px !important;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

#live-chate .chatbox-popup .chatbox-popup__header img.avatar__offline {
    background-color: #ff2250 !important;
}

#live-chate .chatbox-popup .chatbox-popup__header img.avatar__online {
    background-color: #18ff00 !important;
}

#live-chate .chatbox-popup .chatbox-popup__main {
    box-sizing: border-box;
    width: 100% !important;
    padding: 5px 0;
    overflow: auto;
    height: 260px !important;
    display: block;
    position: relative;
}

.msg__sent, .msg__receive {
    line-height: calc(16px + 16px / 2);
    background-color: #898a88 !important;
    width: auto;
    color: #000 !important;
    padding: 7px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0.8em;
    display: block !important;
}

.msg__sent {
    margin: 3px 7px 3px 150px !important;
}

.msg__receive {
    margin: 3px 150px 3px 7px !important;
}

#live-chate .chatbox-popup .chatbox-popup__footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    border-top: 1px solid #ddd;
    align-items: center;
    justify-content: space-around;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.form-chate {
/ / background-color: yellow !important;
    width: auto;
    color: #000 !important;
    padding: 4px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0.8em;
    margin: 3px 7px 3px 3px !important;
}

.discussed {
    width: 90% !important;
    margin: auto !important;
    box-shadow: rgb(0 0 0 / 10%) 0 4px 15px 0, rgb(0 0 0 / 10%) 0 1px 2px 0, rgb(235 237 240 / 50%) 0 2px 0 0 inset !important;
    padding: 26px 24px 24px !important;
}

.discussed__title {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0;
}

.btn_start_discussed {
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    pointer-events: auto;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
    padding: 0px 24px;
    background-color: rgb(235, 237, 240);
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
    border: 1px solid rgb(210, 215, 219);
}

/* form Home Design */

.card-active > div {
    background: rgba(255, 255, 255, 0.4) !important;
}

.form-border > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image__map {
    width: 660px;
    margin: 5px auto;
}

.image__map a {
    margin: 0 !important;
}

.jqvmap-region {
    cursor: pointer !important;
}

.jqvmap-region:hover {
    fill: rgba(255, 255, 255, 0.4);
}

.region-active {
    fill: red !important;
}

.call-page-form {
    height: auto;
    width: auto;
    position: relative;
    top: 90px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto 100px;
}

.single-service {
    display: flex;
}

#session_success {
    position: fixed;
    right: 15px;
    top: 85px;
    z-index: 9999;
    height: auto !important;
}